<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me When I Among Us</title>
</head>
<body>
    <form align="center">
        Input Word: <input name="start"><input>
        <br>
        Expected Word: <input name="end"><input type="submit" id="submit">
    </form>
    <br>
    <!-- <h1>You were</h1>
    <br>
    <h1>{{value}}%</h1>
    <br>
    <h1>Correct!</h1> -->
</body>
</html>